/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

main{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.navbar{
    margin-top: 18px;
}

.logo-img{
    height: 19px;
    padding: 30px 0;
}

.nav-item{
    height: fit-content;
    margin-right: 50px;
    padding-top: 16px;
}

.nav-item:hover{
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

#info-group{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info-group-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtitle{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.search-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 51px;
}

.search-element{
    height: 100%;
    border: 0;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    box-sizing: border-box;
}

.search-input{
    padding: 0;
    width: 195px;
    border-top: solid 1px var(--main-bg-color);
    border-bottom: solid 1px var(--main-bg-color);
}

.text-search-button{
    background-color: var(--main-color);
    color: white;
    padding: 0 16px;
    border-radius: 0 15px 15px 0;
    border: solid 1px var(--main-color);
}

.icon-search-button{
    background-color: var(--main-color);
    padding: 0 16px 0 16px;
    border-radius: 15px;
    display: none;
    border: solid 1px var(--main-color);
}

.fa-search-color{
    color: white;
}

.icon-contener{
    display: flex;
    align-items: center;
    padding: 0 19px;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-bg-color);
    color: black;
}

.fa-color{
    color: black;
}

.filter-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 0;
    gap: 15px;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filter-title{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.filter{
    display: flex;
    align-items: center;
    height: 100%;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding: 12px 19px;
    font-weight: 700;
}

.filter:hover{
    background-color: var(--filter-bg-color);
}

.filter-name{
    padding-left: 10px;
    font-size: 16px;
}

.filter-icon{
    font-size: 22px;
}

.offers-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icon{
    display: flex;
    border: solid 1px var(--main-bg-color);
    border-radius: 15px;
    padding: 5px 10px 6px 10px;
    font-size: 14px;
    margin-right: 10px;
    height: fit-content;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle{
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card-rating{
    display: flex;
    flex-direction: row;
    padding: 5px 0 ;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.hebergements-cards .card{
    height: 100%;
    box-sizing: border-box;
}

.hebergements-cards img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 4px;
}

.hebergements-cards .card-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px 15px 15px;
}

.hebergements-cards .card-element{
    margin: 0;
}

.display-more{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 10px;
}

/****** Activités ***********/
.activites{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    margin-bottom: 35px;
}

.activites-cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activites .card{
    padding: 0;
    height: 100%;
}

.activites-cards a{
    width: 25%;
}

.activites img{
    width: 100%;
    height: 380px;
    border-radius: 25px 25px 0 0;
}

.activites .card-title{
    padding: 20px 19px;
    margin: 0;
}

/****** Footer ***********/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--main-bg-color);
}

.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
    padding: 20px;
}

.footer-section > *{
    margin: 0;
    padding: 0;
}

.footer-title{
    font-size: 18px;
    font-weight: 700;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card{
        margin-top: 20px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filter-bar{
        flex-direction: column;
        align-items: start;
    }

    .activites img{
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body{
        margin: 0;
    }
    .main-container{
        padding: 0;
    }

    /****HEADER****/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo-img{
        height: 19px;
        width: fit-content;
        padding: 30px 0;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 0;
    }

    .nav-item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
        padding: 0 0 15px 0;
        margin-right: 0;
        padding-top: 0;
        border-bottom: solid 2px var(--main-bg-color);
    }
    
    .nav-item:hover{
        border-top: 0;
        border-color: var(--main-color);
        color: var(--main-color);
    }

    /****Info****/
    #info-group{
        padding: 0 20px 0 20px;
    }

    /****Search****/
    .search-form{
        position: relative;
    }

    .text-search-button{
        display: none;
    }

    .search-element{
        position: absolute;
    }

    .icon-search-button{
        display: block;
        z-index: 2;
        right: 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .search-input{
        z-index: 1;
        width: 100%;
        border-radius: 15px;
    }

    .icon-contener{
        z-index: 2;
    }

    /****Filters****/
    .filter-bar{
        gap: 20px;
    }
    
    .filter{
        flex: 1;
    }

    .filter-name{
        font-size: 14px;
    }

    .filters{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /****Hebergements And Populaires****/
    .hebergements-and-populaires{
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section{
        padding: 30px 20px;
        border-radius: 0;
    }

    .populaires{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 15px;
    }

    .populaires-cards{
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card{
        margin: 0;
    }

    #hebergements{
        padding: 20px 20px;
        background-color: white;
        gap: 15px;
    }

    .hebergements-cards{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /****Activités****/
    .activites{
        margin-bottom: 30px;
    }

    .activites-cards{
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards a{
        width: 100%;
    }

    .activites img{
        height: 141px;
    }

    /****Footer****/
    footer{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .footer-section{
        padding: 0;
    }
}